/.idea/code.sp
/README.md~
/.idea/token
/.idea/memo.md
/target/a.out
/target/ast.o
/target/lexer.o
/target/main.o
/target/parser.o
/test/add
/test/sample.sp~
/.idea/memo.md~
/.idea/c.y
/.idea/c.y~
/el/sphingid-mode.el~
/tmp
/src/interpreter/interpreter.cpp~
/src/interpreter/interpreter.hpp~
/src/interpreter/environment.cpp~
/src/interpreter/environment.hpp~
/target/environment.o
/target/interpreter.o
/test/fib.sp~
